<!doctype html>
<html ng-app="answer1">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Lunch Checker</title>
  </head>
<body>
   <div class="container" ng-controller="MyFirstController">
     <h1>Lunch Checker</h1>

         <div class="form-group" >
             <input id="lunch-menu" type="text"
             class="form-control" ng-model="name">{{out}}
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="output();">Check If Too Much</button>
         </div>
         <div class="form-group message">
           <!-- Your message can go here. -->
         </div>
   </div>

</body>
</html>
